.tabs-controls {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  box-sizing: border-box;
  /* padding: 50px 0 100px; */
  list-style-type: none;
}
.tabs-controls__link {
  position: relative;
  display: block;
  text-decoration: none;
}
.tabs-controls__link--active {
  background-color: #FF00C9;
}
.cards-container {
  position: relative;
  z-index: 1;
  width: 50%;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.card {
  position: absolute;
  width: 400px;
  height: 400px;
  transition: transform 0.3s, opacity 0.2s;
}
.card.hidden {
  z-index: 100;
  background-color: transparent;
  color: transparent;
  opacity: 0;
  transition: color 0.5s, background-color 0.5s, transform 1s, opacity 0.2s 0.4s;
}
.card.hidden h1 {
  color: #fff;
  transition: color 0.5s;
}
.card.hidden:nth-of-type(1) {
  transform: translateX(101%) translateY(-55%) scale(0.4)  !important;
}
.card.hidden:nth-of-type(2) {
  transform: translateX(101%) translateY(-16%) scale(0.8)  !important;
}
.card.hidden:nth-of-type(3) {
  transform: translateX(101%) translateY(-58%) scale(0.4)  !important;
}
.card.hidden:nth-of-type(4) {
  transform: translateX(101%) translateY(-21%) scale(1)  !important;
}
.card.hidden:nth-of-type(5) {
  transform: translateX(101%) translateY(-56%) scale(0.7)  !important;
}
.card.hidden:nth-of-type(6) {
  transform: translateX(101%) translateY(-30%) scale(0.6)  !important;
}
.card:nth-of-type(1) {
  z-index: 5;
  transform: translateX(0px) translateY(0px);
}
.card:nth-of-type(2) {
  z-index: 4;
  transform: translateX(-30px) translateY(0px);
  margin-top: 5px;
  width: 390px;
  height: 390px;
}
.card:nth-of-type(3) {
  z-index: 3;
  transform: translateX(-60px) translateY(0px);
  margin-top: 10px;
  width: 380px;
  height: 380px;
}
.card:nth-of-type(4) {
  z-index: 2;
  transform: translateX(-90px) translateY(0px);
  margin-top: 15px;
  width: 370px;
  height: 370px;
}
.card:nth-of-type(5) {
  z-index: 1;
  transform: translateX(-120px) translateY(0px);
  margin-top: 20px;
  width: 360px;
  height: 360px;
}
.card:nth-of-type(6) {
  z-index: 0;
  transform: translateX(-150px) translateY(0px);
  margin-top: 25px;
  width: 350px;
  height: 350px;
}

@media screen and (max-width: 1000px) {
  .card:nth-of-type(2) {
    z-index: 4;
    transform: translateX(0px) translateY(-30px);
    margin-top: 0;
    width: 390px;
    height: 390px;
  }
  .card:nth-of-type(3) {
    z-index: 3;
    transform: translateX(0px) translateY(-60px);
    margin-top: 0;
    width: 380px;
    height: 380px;
  }
  .card:nth-of-type(4) {
    z-index: 2;
    transform: translateX(0px) translateY(-90px);
    margin-top: 0;
    width: 370px;
    height: 370px;
  }
  .card:nth-of-type(5) {
    z-index: 1;
    transform: translateX(0px) translateY(-120px);
    margin-top: 0;
    width: 360px;
    height: 360px;
  }
  .card:nth-of-type(6) {
    z-index: 0;
    transform: translateX(0px) translateY(-150px);
    margin-top: 0;
    width: 350px;
    height: 350px;
  }
}

@media screen and (max-width: 1200px) {
  
  .cards-container {
      width: 55%;
  }
}

@media screen and (max-width: 767px) {
  .card:nth-of-type(1) {
    z-index: 5;
    transform: translateX(0px) translateY(0px);
    width: 350px;
    height: 350px;
  }
  .card:nth-of-type(2) {
    z-index: 4;
    transform: translateX(0px) translateY(-30px);
    margin-top: 0;
    width: 340px;
    height: 340px;
  }
  .card:nth-of-type(3) {
    z-index: 3;
    transform: translateX(0px) translateY(-60px);
    margin-top: 0;
    width: 330px;
    height: 330px;
  }
  .card:nth-of-type(4) {
    z-index: 2;
    transform: translateX(0px) translateY(-90px);
    margin-top: 0;
    width: 320px;
    height: 320px;
  }
  .card:nth-of-type(5) {
    z-index: 1;
    transform: translateX(0px) translateY(-120px);
    margin-top: 0;
    width: 310px;
    height: 310px;
  }
  .card:nth-of-type(6) {
    z-index: 0;
    transform: translateX(0px) translateY(-150px);
    margin-top: 0;
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 400px) {
  .card:nth-of-type(1) {
    z-index: 5;
    transform: translateX(0px) translateY(0px);
    width: 300px;
    height: 300px;
  }
  .card:nth-of-type(2) {
    z-index: 4;
    transform: translateX(0px) translateY(-30px);
    margin-top: 0;
    width: 290px;
    height: 290px;
  }
  .card:nth-of-type(3) {
    z-index: 3;
    transform: translateX(0px) translateY(-60px);
    margin-top: 0;
    width: 280px;
    height: 280px;
  }
  .card:nth-of-type(4) {
    z-index: 2;
    transform: translateX(0px) translateY(-90px);
    margin-top: 0;
    width: 270px;
    height: 270px;
  }
  .card:nth-of-type(5) {
    z-index: 1;
    transform: translateX(0px) translateY(-120px);
    margin-top: 0;
    width: 260px;
    height: 260px;
  }
  .card:nth-of-type(6) {
    z-index: 0;
    transform: translateX(0px) translateY(-150px);
    margin-top: 0;
    width: 250px;
    height: 250px;
  }
}