a.control_next, a.control_prev {
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width:       60px;
    height:      60px;
    line-height: 60px; /* If you want to place numbers */
    text-align: center;
    opacity: 0.7;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 5;
    top: 50%;
    cursor: pointer;
}

.control_prev {
    background-image: url("../vendors/images/arr-prev.png");
    left: 0;
}

.control_next {
    background-image: url("../vendors/images/arr-next.png");
    right: 0;
}

a.control_next:hover, a.control_prev:hover {
	opacity: 1;
}

#slider-feature .control_prev, #content-cybloc .control_prev {
    background-image: url("../vendors/images/arr-prev.png");
    left: 40px;
    width: 40px;
    height: 40px;
}

#slider-feature .control_next, #content-cybloc .control_next {
    background-image: url("../vendors/images/arr-next.png");
    right: 40px;
    width: 40px;
    height: 40px;
}

@media screen and (max-width: 1000px) {
	a.control_next, a.control_prev {
		width: 40px;
		height: 40px;
	}
    #slider-feature .control_prev, #content-cybloc .control_prev {
        width: 30px;
        height: 30px;
    }
    
    #slider-feature .control_next, #content-cybloc .control_next {
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 767px) {
	a.control_next, a.control_prev {
		width: 30px;
		height: 30px;
	}
    #slider-feature .control_prev {
        top: 70%;
    }
    
    #slider-feature .control_next {
        top: 70%;
    }
}

#slider .mySlides {
	width: 90%;
	aspect-ratio: auto;
    height: 100%;
}

div#slider {
    width: 100%;
    display: flex;
    justify-content: center;
}
  